# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin*/
release/
debug/
lib/

#CMAKE
*.cmake
build/
debug/
bin/
lib/
CMakeCache.*
Makefile
CMakeFiles/
**/CMakeLists.txt

#gtest
_deps

#vscode
.vscode/

#vs
.vs/

#database
db/inc/*
db/db/*
*.db

#profiler
*.json